# Telegram Bot
TELEGRAM_BOT_TOKEN=your_bot_token
TELEGRAM_CHAT_ID=your_chat_id

# ESB ERP
ESB_BASE_URL=erp_base_url

# Credentials ESB ERP
IDEO_USERNAME=your_ideo_username
IDEO_PASSWORD=your_ideo_password
BURJO_USERNAME=your_burjo_username
BURJO_PASSWORD=your_burjo_password

# Logger (default: debug)
LOG_LEVEL=debug
NODE_ENV=development
